body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.timebox {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 30%;
  margin-bottom: 30px;
}

.jumbotron {
  text-align: center;
  background-color: #EFEFEF;;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.row {
  white-space: pre-wrap;
}

#task{
  text-align: center;
  background-color: #EFEFEF;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 15px;
  font-weight: bolder;

}
.col-md-2 {
  text-align: center;
  border-top: 1px solid black;
  padding: 15px;
  font-weight: bold;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: gray;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}


.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

input{
  border: 1px;
  border-style: solid;
  border-color: black;
  border-image: initial;
}
